identity_photo_expected_date:
output: "/path/to/output"

cameras:
  -
    input: "/path/to/kevin"
    name: kevin
    suffix: km
    identity_photo: example.jpg
  -
    input: "/path/to/patrick"
    name: patrick
    suffix: ph
    identity_photo: example.jpg
  -
    input: "/path/to/eliot"
    name: eliot
    suffix: eb
    identity_photo: example.jpg
